#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Affichage des cards en flex */
.cardStack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Apparence des cartes  */
.countryCard {
  min-height: 14rem;
  height: 100%;
  margin-bottom: 2rem;
  display: flex;
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

/** Modification de l'image du drapeau */
.flagImg {
  max-width: 50%;
  object-fit: cover;
  border-style: solid;
  border-left-width: 2px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 2px;
}

.flagImgTable {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-style: solid;
  border-width: 1px;
}

/* Affichage des infos dans les cards */
.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
  width: 100%;
}

.info, .infoName {
  margin: 0;
  font-size: 0.9rem;
}

/* Modification de la barre de recherche */
#searchBar {
  background-image: url('./assets/magnifying-glass-solid.svg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 5px 6px;
  width: 95%;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd;
}

.countryFilter {
  display: flex;
  justify-content: space-around;
}

.allButton {
  background-color: #70C9E7 !important;
  width: 7rem;
  font-size: 1rem !important;
  margin-right: 4rem !important;
  font-weight: 900 !important;
}

b {
  color: #3394B5;
}

select {
  text-align: center;
  color:#3394B5;
  font-weight: 900;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

th {
  color: #3394B5 !important;
  font-weight: 900 !important;
}
